<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Number</title>
</head>

<body>
    <!-- <h1>The random number</h1>
    <div>
        <img th:src="@{${fileName}} + ${randomImage}" height="500">
    </div> -->

    <h1>The Random Number: <span th:text="${randomNum}"></span></h1>
    <div>
        <img th:src="@{/images/number{i}.jpg(i=${randomNum})}" height="550" >
    </div>

</body>

</html>